<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD NODEJS</title>
    <link rel="stylesheet" href="../../img/bootstrap.min.css">
</head>
<body>
    {{{body}}}

    <script src="../../img/vendor/jquery/jquery.min.js"></script>
    <script src="../../img/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="javascript"></script>
</body>
</html>