<div class="jumbotron" style="background-color: rgba(91, 160, 117, 0.719); height:100vh;">
  <h4 class="display-4">Dados atualizados com sucesso!</h4>
  <hr class="my-4">
  <a class="btn btn-success" href="/" role="button">INÍCIO</a>
  <a class="btn btn-dark" href="select" role="button">Ver atualização</a>

</div>