

<div class="jumbotron" style="background-color: rgba(91, 160, 117, 0.719); height:100vh;">
    <h4>Os dados de {{name}} foram inseridos com sucesso</h4>
  <hr class="my-4">
    <a class="btn btn-outline-success" href="inserir" role="button">Adicionar mais</a>
    <a class="btn btn-outline-success" href="select" role="button">Ver registro</a>

</div>