<div class="jumbotron" style="background-color: rgba(91, 160, 117, 0.719); height:100vh;">
  <h4 class="display-4">Insira as infomações abaixo</h4>
    <hr class="my-4">
    <form name='form1' action="controllerForm" method='post'>
        <input type="text" name='id' id='id' placeholder='Id:'>
        <input type="text" name='name' id='name' placeholder='Name:'>
        <input type="text" name='age' id='age' placeholder='Age:'>
        <input type="submit" class="btn btn-dark"  name='btnSubmit' id='btnSubmit' value='Criar'>
    </form>
    <hr class="my-4">
    <a class="btn btn-success" href="/" role="button">INÍCIO</a>

</div>

